<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>My application</title>
  </head>




 <body>
<div class="jumbotron">
  <h5 class="display-7">Jesteśmy grupą studentów Inżynierii Biomedycznej na Wydziale Elektrotechniki, Automatyki, Informatyki i Inżynierii Biomedycznej na AGH w Krakowie.
W skład naszego zespołu wchodzą:
</h5>
  <hr class="my-4">
  <h4 class="font-weight-light text-center">Natalia i Kasia</h4>

    <img src="//natalia.jpg" alt="zzz">


</div>


     <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
 </body>
<!--</div>-->
</html>
{% endblock %}

