<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

<!--<!doctype html>-->
<!--<html lang="en">-->

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My application</title>
  </head>




 <body>
<div class="jumbotron">
  <h5 class="display-7">Jesteśmy grupą studentów Inżynierii Biomedycznej na Wydziale Elektrotechniki, Automatyki, Informatyki i Inżynierii Biomedycznej na AGH w Krakowie.
W skład naszego zespołu wchodzą:
</h5>
  <hr class="my-4">
  <h4 class="font-weight-light text-center">Natalia i Kasia</h4>
    <link rel="icon" href="#">
    <div style="text-align: center"><img src="{{url_for('static', filename='natalia.jpg')}}" width="100"> <img src="{{url_for('static', filename='natalia.jpg')}}" width="100"></div>
    <p style="text-indent: 6em;  text-align: justify; ">
    Pełnią one rolę Product Owner’a oraz Project Mananger’a. Zajęły się zaplanowaniem szczegółowego wyglądu aplikacji oraz przygotowaniem danych, na których bazują pytania w tej ankiecie. W ten sposób pilnują by pozostali członkowie zespołu mieli co robić. Aktywnie i na bieżąco współpracują z działem IT oraz analitykami, starając się odpowiedzieć na każde ich pytanie i wyjaśnić każdą wątpliwość (a trochę tego było).</p>

    <h4 class="font-weight-light text-center">Alicja i Paulina</h4>
    <div style="text-align: center"><img src="{{url_for('static', filename='natalia.jpg')}}" width="100"> <img src="{{url_for('static', filename='natalia.jpg')}}" width="100"></div>

    <p style="text-indent: 6em;  text-align: justify; ">
    Dziewczyny stanowią dział IT w naszym zespole. Wprowadzają w życie wszystkie szalone pomysły Kasi i Natalii. Bez nich nie byłoby w tym miejscu tekstu ani tych zakładek o tam na górze <img src="{{url_for('static', filename='strzalka.png')}}" height="30" ></p>
    <p style="text-align: justify; ">Generalnie magicznie sprawiają, że wszystko działa, że możesz kliknąć sobie o tu:</p>
    <div style="text-align: center"><button type="button" class="btn btn-danger">Kliknij na mnie</button><br/>I nic się nie stanie XD</div>
  <br/>
    <h4 class="font-weight-light text-center">Janek i Sebastian</h4>
    <div style="text-align: center"><img src="{{url_for('static', filename='natalia.jpg')}}" width="100"> <img src="{{url_for('static', filename='natalia.jpg')}}" width="100"></div>
    <p style="text-indent: 6em;  text-align: justify; ">
      Analityczne mózgi naszego zespołu. Zbierają oni w logiczną całość wszystkie informacje, które zostały wprowadzone i wyklikane podczas wypełniania ankiety. Sprawdzają czy jest jakiś związek np. między tym ile masz lat a Twoimi odpowiedziami na pytania, czyli czy ogólnie ta ankieta miała sens.
    </p>
  <br/>
  <h6>Ale dość już o nas. Powiedz nam coś o sobie, wypełnij ankietę! </h6>
  <div style="text-align: right"><a href="/form" type="button" class="btn btn-info btn-lg">Przejdź do ankiety <br/><p style="font-size:12px">(ten przycisk działa)</p></a></div>
</div>


 </body>

{% endblock %}

