<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>O projekcie</title>
  </head>


 <body>
<div class="jumbotron">
  <p style="text-indent: 6em;  text-align: justify; ">Ankieta dotyczy znajomości wiadomości o koronawirusie.
    Powstała ona w celu realizacji projektu z zakresu projektowania aplikacji webowych. Projekt miał na celu zbudowanie
    interdyscyplinarnego zespołu, zaprojektowanie badania społecznego i ankiety. Naszym zadaniem było także przygotowanie
    planu realizacji projektu, zdefiniowanie zadań każdego z członków zespołu oraz wdrożenie rozwiązania IT i przeprowadzenia
    badania. Na koniec wyniki badania społecznego należało poddać analizie, której część znajduje się w zakładce <a href = '/result'>wyniki</a>.
    <br/><br/>
    Jeśli jeszcze tego nie zrobiłeś <a href = '/form'>wypełnij ankietę</a>.
</p>
</div>


 </body>

{% endblock %}

