<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

<!--<!doctype html>-->
<!--<html lang="en">-->

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My application</title>
  </head>




 <body>
<div class="jumbotron">
  <h5 class="display-7">Jesteśmy grupą studentów Inżynierii Biomedycznej na Wydziale Elektrotechniki, Automatyki, Informatyki i Inżynierii Biomedycznej na AGH w Krakowie.
W skład naszego zespołu wchodzą:
</h5>
  <hr class="my-4">
  <h4 class="font-weight-light text-center">Natalia i Kasia</h4>
<link rel="icon" href="#">
    <img src="{{url_for('static', filename='natalia.jpg')}}" />


</div>


 </body>

{% endblock %}

