<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}<script>
Array.prototype.random = function(limit)
{
	if (typeof limit == 'undefined' || limit < 0) limit = 1;
	else if (!limit) limit = this.length;
	for (var i = 0, source = this, target = new Array(), n = source.length; i < limit && n > 0; i++)
	{
		do { var index = Math.random(); } while (index == 1);
		index = Math.floor(index * n);
		target.push(source[index]);
		source[index] = source[--n];
	}
	return target;
}

var ile=2;

obrazki=new Array();
obrazki[0]='<div style="text-align: center"><img src="{{url_for('static', filename='pyt1.JPG')}}" width="500"><br/><br/></div>';
obrazki[1]='<div style="text-align: center"><img src="{{url_for('static', filename='pyt2.JPG')}}" width="500" ><br/><br/></div>';
obrazki[2]='<div style="text-align: center"><img src="{{url_for('static', filename='pyt3.JPG')}}" width="500" ><br/><br/></div>';
obrazki[3]='<div style="text-align: center"><img src="{{url_for('static', filename='pyt4.JPG')}}" width="500"><br/><br/></div>';
obrazki[4]='<div style="text-align: center"><img src="{{url_for('static', filename='pyt5.JPG')}}" width="500"><br/><br/></div>';
obrazki[5]='<div style="text-align: center"><img src="{{url_for('static', filename='pyt6.JPG')}}" width="500"><br/><br/></div>';
obrazki[6]='<div style="text-align: center"><img src="{{url_for('static', filename='pyt7.JPG')}}" width="500"><br/><br/></div>';

var arr = [];
while(arr.length < 3){
    var r = Math.floor(Math.random() * 7);
    if(arr.indexOf(r) === -1) arr.push(r);
}
console.log(arr);

for(i = 0; i < arr.length; i++){
document.write(obrazki[arr[i]]);
document.getElementbyid('ank');
}

</script>
<div class="form-group" id = "ank" style="text-align: left">
    <form role="form" action="/save" method="post">
        <div class="form-group">
        <h6><label>Czy spotkałaś/spotkałeś się z informacją podaną w powyższym poście?</label><br/></h6>
        <input type="button" class="btn btn-info btn-lg"  value="TAK"/>
        <input type="button" class="btn btn-info btn-lg"  value="NIE"/>
        </div>

        <div class="form-group">
        <h6><label>Z jakiego źródła dotarła do Ciebie ta informacja?</label><br/></h6>
        <label><input type="checkbox" > Telewizja</label><br/>
        <label><input type="checkbox" > Internet</label><br/>
        <label><input type="checkbox" > Radio</label><br/>
        <label><input type="checkbox" > Media społecznościowe</label><br/>
        <label><input type="checkbox" > Gazeta</label><br/>
        <label><input type="checkbox" > Ta ankieta</label><br/>
        <label><input type="checkbox" > Inne</label><br/>
        </div>


        <div class="form-group">
            <h6><label>Czy ufasz podanej informacji?</label><br/></h6>
            <input type="range" id="cowbell" name="cowbell"
                   min="0" max="100" value="0" step="25">
            <label for="cowbell">Suwak</label>
        </div>

    </form>

</div>
{% endblock %}

