<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h3>Prośba o wypełnienie formularza, info o danych (nie zostaną wykorzystane itp.) </h3>
</div>

<form role="form" action="/save" method="post">
    <h3>Twoje dane osobowe:</h3>
    <div class="form-group">
        <label for="firstname">Imię:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="age">Wiek:</label>
        <input type="number" class="form-control" id="age" name="age" min="1" max="100" required>
    </div>









<!--</div> <input type="button" name="next" class="next action-button" value="Next" />-->
<a href="/form/firstquestion" class="next">Next &raquo;</a>

    <p>
    <a class="btn btn-danger" href="/form/firstquestion" role="button">Przejdź do ankiety</a>
    </p>


</form>






{% endblock %}

