<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Raw data</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Plec</th>
        <th>Wiek</th>
        <th>Wyksztalcenie</th>
        <th>Pyt. 1_1</th>
        <th>Pyt. 2_1</th>
        <th>Pyt. 3_1</th>
        <th>Pyt. 1_2</th>
        <th>Pyt. 2_2</th>
        <th>Pyt. 3_2</th>
        <th>Pyt. 1_3</th>
        <th>Pyt. 2_3</th>
        <th>Pyt. 3_3</th>
        <th>Pyt. 1_4</th>
        <th>Pyt. 2_4</th>
        <th>Pyt. 3_4</th>
        <th>Pyt. 1_5</th>
        <th>Pyt. 2_5</th>
        <th>Pyt. 3_5</th>
        <th>Pyt. 1_6</th>
        <th>Pyt. 2_6</th>
        <th>Pyt. 3_6</th>
        <th>Pyt. 1_7</th>
        <th>Pyt. 2_7</th>
        <th>Pyt. 3_7</th>
        <th>Pyt. 1_8</th>
        <th>Pyt. 2_8</th>
        <th>Pyt. 3_8</th>
        <th>Pyt. 1_9</th>
        <th>Pyt. 2_9</th>
        <th>Pyt. 3_9</th>
        <th>Pyt. 1_10</th>
        <th>Pyt. 2_10</th>
        <th>Pyt. 3_10</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.plec }}</td>
        <td>{{ element.wiek }}</td>
        <td>{{ element.wyksztalcenie }}</td>
        <td>{{ element.q1_1 }}</td>
        <td>{{ element.q2_1 }}</td>
        <td>{{ element.q3_1 }}</td>
        <td>{{ element.q1_2 }}</td>
        <td>{{ element.q2_2 }}</td>
        <td>{{ element.q3_2 }}</td>
        <td>{{ element.q1_3 }}</td>
        <td>{{ element.q2_3 }}</td>
        <td>{{ element.q3_3 }}</td>
        <td>{{ element.q1_4 }}</td>
        <td>{{ element.q2_4 }}</td>
        <td>{{ element.q3_4 }}</td>
        <td>{{ element.q1_5 }}</td>
        <td>{{ element.q2_5 }}</td>
        <td>{{ element.q3_5 }}</td>
        <td>{{ element.q1_6 }}</td>
        <td>{{ element.q2_6 }}</td>
        <td>{{ element.q3_6 }}</td>
        <td>{{ element.q1_7 }}</td>
        <td>{{ element.q2_7 }}</td>
        <td>{{ element.q3_7 }}</td>
        <td>{{ element.q1_8 }}</td>
        <td>{{ element.q2_8 }}</td>
        <td>{{ element.q3_8 }}</td>
        <td>{{ element.q1_9 }}</td>
        <td>{{ element.q2_9 }}</td>
        <td>{{ element.q3_9 }}</td>
        <td>{{ element.q1_10 }}</td>
        <td>{{ element.q2_10 }}</td>
        <td>{{ element.q3_10 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}