<!--<!DOCTYPE html>-->
<!--<html>-->

{% extends "base.html" %}

{% block content %}
<head>
<meta charset="UTF-8">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{url_for('static', filename='Chart.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='chartjs-datalabels.js')}}"></script>
<style>
.container
{
	width: 1540px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	
}
.wykres
{
	float: left;
	margin-right: 20px;
}


</style>
</head>
<body>

<div class="container">

	<div style="width: 500px;" class="wykres">
	<H3>Wykres średnich poprawnych odpowiedzi względem wieku</H3>
	</div>
	<div style="width: 500px;" class="wykres">
	<H3>Wykres średnich poprawnych odpowiedzi względem płci</H3>
	</div>
	<div style='clear: both;'></div><br>

	<div class="wykres">
		<div style="width: 500px;">
		<canvas id="myChart"></canvas>
		</div>
	</div>

	<div class="wykres">
		<div style="width: 500px;">
		<canvas id="myChart2"></canvas>
		</div>
        <br><br><br><br><br>
	</div>
	<div style="width: 500px;" style="margin-right: 0px">
	<H3>Wykres średnich poprawnych odpowiedzi względem wykształcenia</H3>
	</div><br>
	<div style="margin-right: 0px" class="wykres">
		<div style="width: 500px;">
		<canvas id="myChart3"></canvas>
		</div>
	</div>

	<div style='clear: both;'></div><br><br><br><br><br>
	<div style="width: 500px;" class="wykres">
	<H3>Wykres udziału użytkowników w danej grupie wiekowej</H3>
	</div>
	<div style="width: 500px;" class="wykres">
	<H3>Wykres udziału użytkowników względem płci</H3>
	</div>

	<div style='clear: both;'></div><br>

	<div class="wykres">
		<div style="width: 500px;">
		<canvas id="myPieChart"></canvas>
		</div>
	</div>
	<div class="wykres">
		<div style="width: 500px;">
		<canvas id="myPieChart2"></canvas>
		</div>
        <br><br><br><br><br>
	</div>
    <div style="width: 500px;" style="margin-left: auto; margin-right: auto;">
	<H3>Wykres udziału użytkowników względem wykształcenia</H3>
	</div><br>
	<div style="margin-right: 0px" class="wykres">
		<div style="width: 500px;">
		<canvas id="myPieChart3"></canvas>
		</div>
	</div>

</div>


<script type="text/javascript">

var wiekwykres = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(wiekwykres, {
    type: 'bar',
    data: {
        labels: ['<18', '18-25', '25-40', '41-60', '60+'],
        datasets: [{
            label: '% poprawnych zgadnięć względem wieku',
            data: {{ dataW|tojson|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


var plecwykres = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(plecwykres, {
    type: 'bar',
    data: {
        labels: ['Mężczyźni', 'Kobiety'],
        datasets: [{
            label: '% poprawnych zgadnięć względem płci',
            data: {{ dataP|tojson|safe }},
            backgroundColor: [
				'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
            ],
            borderColor: [
				'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var wyksztalceniewykres = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(wyksztalceniewykres, {
    type: 'bar',
    data: {
        labels: ['podstawowe', 'średnie', 'wyższe', 'zawodowe', 'gimnazjalne', 'brak', 'inne'],
        datasets: [{
            label: '% poprawnych zgadnięć względem wykształcenia',
            data: {{ dataWy|tojson|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
				'rgba(43, 179, 13, 1)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
				'rgba(43, 179, 13, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctxP = document.getElementById("myPieChart").getContext('2d');
var myPieChart = new Chart(ctxP, {
  plugins: [ChartDataLabels],
  type: 'pie',
  data: {
    labels: ["<18", "18-25", "25-40", "41-60", "60+"],
    datasets: [{
      data: {{ lwiek|tojson|safe }},
      backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
      hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
    }]
  },
  options: {
    responsive: true,
    legend: {
      position: 'right',
      labels: {
        padding: 20,
        boxWidth: 10
      }
    },
    plugins: {
      datalabels: {
        formatter: (value, ctx) => {
          let sum = 0;
          let dataArr = ctx.chart.data.datasets[0].data;
          dataArr.map(data => {
            sum += data;
          });
          let percentage = (value * 100 / sum).toFixed(2) + "%";
          return percentage;
        },
        color: 'white',
        labels: {
          title: {
            font: {
              size: '16'
            }
          }
        }
      }
    }
  }
});

var ctxP2 = document.getElementById("myPieChart2").getContext('2d');
var myPieChart2 = new Chart(ctxP2, {
  plugins: [ChartDataLabels],
  type: 'pie',
  data: {
    labels: ["Mężczyźni", "Kobiety"],
    datasets: [{
      data: {{ lP|tojson|safe }},
      backgroundColor: ["#F7464A", "#46BFBD"],
      hoverBackgroundColor: ["#FF5A5E", "#5AD3D1"]
    }]
  },
  options: {
    responsive: true,
    legend: {
      position: 'right',
      labels: {
        padding: 20,
        boxWidth: 10
      }
    },
    plugins: {
      datalabels: {
        formatter: (value, ctx) => {
          let sum = 0;
          let dataArr = ctx.chart.data.datasets[0].data;
          dataArr.map(data => {
            sum += data;
          });
          let percentage = (value * 100 / sum).toFixed(2) + "%";
          return percentage;
        },
        color: 'white',
        labels: {
          title: {
            font: {
              size: '16'
            }
          }
        }
      }
    }
  }
});

var ctxP3 = document.getElementById("myPieChart3").getContext('2d');
var myPieChart3 = new Chart(ctxP3, {
  plugins: [ChartDataLabels],
  type: 'pie',
  data: {
    labels: ['podstawowe', 'średnie', 'wyższe', 'zawodowe', 'gimnazjalne', 'brak', 'inne'],
    datasets: [{
      data: {{ lwyk|tojson|safe }},
      backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#9447FF", "#4C76FF"],
      hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#A361FF", "#7091FF"]
    }]
  },
  options: {
    responsive: true,
    legend: {
      position: 'right',
      labels: {
        padding: 20,
        boxWidth: 10
      }
    },
    plugins: {
      datalabels: {
        formatter: (value, ctx) => {
          let sum = 0;
          let dataArr = ctx.chart.data.datasets[0].data;
          dataArr.map(data => {
            sum += data;
          });
          let percentage = (value * 100 / sum).toFixed(2) + "%";
          return percentage;
        },
        color: 'white',
        labels: {
          title: {
            font: {
              size: '16'
            }
          }
        }
      }
    }
  }
});

</script>

</body>
<!--</html>-->
{% endblock %}